@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 50, 50, 50;
    --background-end-rgb: 20, 20, 20;
  }
html {
  font-size: 15px;
}


* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
  margin-bottom: 0;
}

p {
  text-wrap: pretty;
}

.svgFill {
  fill: currentColor !important;
}


.mapboxgl-popup-content   {
  background-color: #333 !important; /* Fondo oscuro */
  color: #fff; /* Texto claro */
  padding: 10px !important; /* Añade un poco de padding para mejor visualización */
  border-radius: 5px !important; /* Opcional: bordes redondeados */
}

.mapboxgl-popup-close-button{
  top: 5px !important;

right: 10px !important;
}